./karlas-lemonade-stand-node
./karlas-lemonade-stand-rails
karlas-lemonade-stand-rails
karlas-lemonade-stand-node
vscode/.rvm/src/ruby-3.0.0/libruby-static.a
vscode/.rvm/src/ruby-2.3.3/libruby-static.a